<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Generator</title>
    <meta name="description" content="A ToDo App - VueJS for creating and managing your todo list.">
    <meta name="keywords" content="todo app, vue todo app, vuejs web app, vuejs todo app">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js></script>
</head>
<body class="bg-gray-200">
    
    <div class="p-4 max-w-xl mx-auto" id='app'>
        <div class="my-3 rounded md:rounded-lg container mx-auto bg-teal-400 shadow-xl">
        <div class="flex mx-auto border-b w-3/5 justify-center text-3xl lg:text-5xl md:text-5xl sm:text-4xl tracking-wider font-light text-gray-100">
            To-do List
        </div>
        <form name="newform" class="flex flex-col ml-6 sm:ml-12 md:ml-16 lg:ml-16  py-4" v-on:submit.prevent="addItem">
            <label for="newitem" class="text-2xl text-gray-100 font-light">Add to the list</label>
            <div class="flex">
                <input type="text" required v-model="todo" class="px-2 py-1 sm:py-0 md:py-2 lg:py-2 focus:outline-none border shadow-lg">
                <button class="border shadow-lg text-indigo-600 mx-2 bg-teal-200 rounded text-sm uppercase px-1 sm:px-2 md:px-2 lg:px-3 py-1 sm:py-0 md:py-2 lg:py-2 hover:opacity-75" type="submit">
                    Add item
                </button>
            </div>
        </form>
        
        <ul class='w-11/12 py-4 mx-auto'>
            <li class='flex justify-between text-white bg-teal-200 p-2 my-1' v-for='item in todos'>
                <span class='px-2 text-lg lg:text-xl' v-bind:class='item.isDone ? "line-through opacity-50 text-blue-600" : "text-teal-700"' >{{item.text}}</span>
                <div class="flex">
                    <button class="px-2 items-center text-blue-600 focus:outline-none " @click='toggleDone(item)'>
                        <i aria-hidden="true" class="material-icons">
                            {{ item.isDone ? 'check_box' : 'check_box_outline_blank' }}
                        </i>
                    </button>
                    <button class="px-2 text-red-500 focus:outline-none" @click='deleteItem(item)'>
                        <i aria-hidden="true" class="material-icons">delete</i>
                    </button>
                </div>
            </li>
        </ul>
        <div class="flex mx-auto justify-center py-4 text-white font-light text-xl" v-if='!todos.length'>Your todo list is empty.</div>
    </div>
    </div>

    <div class="bg-indigo-500 w-full text-center py-2 text-white mt-24">
        Made by- Ankit Yadav &copy; 2020</div>
        <script src="./main.js></script>
</body>
